<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.importWizards">
		<wizard id="net.sf.jmoney.ofx.ImportWizard"
			name="OFX Import"
			class="net.sf.jmoney.ofx.wizards.OfxImportWizard">
			<description>
				Import data from an OFX (Open Financial Exchange) or QFX file. 
			</description>
		</wizard>
	</extension>
 
    <extension
         point="net.sf.jmoney.reconciliation.bankstatements">
        <statement-source
           id="ofximport" 
           description="A Financial Exchange File (*.OFX or *.QFX)" 
           class="net.sf.jmoney.ofx.reconciliation.OfxImport">
        </statement-source> 
   </extension>
   
   <extension point="net.sf.jmoney.fields">
      <extension-property-set
      	id="entryProperties"
          info-class="net.sf.jmoney.ofx.model.OfxEntryInfo"
	      extendable-property-set="net.sf.jmoney.entry">
      </extension-property-set>
   </extension>

   <extension
         point="net.sf.jmoney.dropHandlers">
      <filetype
      	extension="ofx"
          class="net.sf.jmoney.ofx.DroppedFileImporter">
      </filetype>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.sf.jmoney.ofx.ofxExport"
            name="Export to OFX"/>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.jmoney.ofx.OfxExportHandler"
            commandId="net.sf.jmoney.ofx.ofxExport">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="net.sf.jmoney.views.AccountEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>

<extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="menu:file?after=additions">
        <command
              commandId="net.sf.jmoney.ofx.ofxExport"
              label="Export OFX..."/>
     </menuContribution>
   </extension>
   
</plugin>
