<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="importers" name="QIF File Importers" schema="schema/importers.exsd"/>

    <extension point="net.sf.jmoney.qif.importers">
    	<importer class="net.sf.jmoney.qif.BasicImporter"/>
	</extension>
   
	<extension point="org.eclipse.ui.importWizards">
		<wizard id="net.sf.jmoney.qif.FullImportWizard"
			name="QIF Full Import"
			class="net.sf.jmoney.qif.wizards.QifFullImportWizard">
			<description>
				Import data from a QIF (Quicken Import) file that has been exported from another accounting program. 
			</description>
		</wizard>

		<wizard id="net.sf.jmoney.qif.BankDownloadImportWizard"
			name="QIF Bank Download Import"
			class="net.sf.jmoney.qif.wizards.QifBankDownloadImportWizard">
			<description>
				Import data from a QIF (Quicken Import) file that has been downloaded from a banking site. 
			</description>
		</wizard>
	</extension>
 
	<extension point="org.eclipse.ui.exportWizards">
		<wizard id="net.sf.jmoney.qif.ExportWizard"
			name="QIF Export"
			class="net.sf.jmoney.qif.wizards.QifExportWizard">
			<description>
				Export data to a QIF (Quicken Import) file. 
			</description>
		</wizard>
	</extension>
 
	<extension point="net.sf.jmoney.fields">
    	<extension-property-set
      		id="entryProperties"
          	info-class="net.sf.jmoney.qif.QIFEntryInfo"
	      	extendable-property-set="net.sf.jmoney.entry">
      	</extension-property-set>
   	</extension>

</plugin>
