<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="metadata" name="Account Associations" schema="schema/accountAssociations.exsd"/>

   <extension
         point="net.sf.jmoney.fields">
      
      <extension-property-set
      	id="accountProperties"
          info-class="net.sf.jmoney.associations.model.AccountAssociationsInfo"
	      extendable-property-set="net.sf.jmoney.account">
      </extension-property-set>
      
      <extendable-property-set
      	id="accountAssociation"
          info-class="net.sf.jmoney.associations.model.AccountAssociationInfo">
      </extendable-property-set>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="net.sf.jmoney.navigationView">
         <propertyTab
            afterTab="org.eclipse.jmoney.core.generalProperties"
            category="sample"
               id="net.sf.jmoney.associations.associatedAccounts"
            label="Associated Accounts"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="net.sf.jmoney.navigationView">
         <propertySection
               class="net.sf.jmoney.associations.propertyPages.AssociatedAccountsSection"
               id="net.sf.jmoney.associations.associatedAccounts"
               tab="net.sf.jmoney.associations.associatedAccounts">
            <input type="net.sf.jmoney.model2.CapitalAccount"/>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
